.modal-backdrop {
  background-color: gray;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: white;

  margin: 0vh 0vw 7vh 0vw;
  border-radius: 2rem;
  padding: 5vh 1vw 5vh 1vw;
}

.btImage {
  width: fit-content;
}

/*my css*/

.mainBg {
  background-color: black;
}

.cardPadding {
  padding-top: 50px !important;
}

.cardContainerCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.cardImage {
  width: 250px;
  margin-bottom: -30px;
  z-index: 1;
}

.cardTextLeft {
  text-align: left;
}

.cardTextRight {
  float: right;
}

.wc {
  color: white !important;
}

.middle {
  display: flex;
  align-content: center;
  align-items: center;
}

.bgTrans {
  background-color: transparent !important;
}

.txtCenter {
  text-align: center;
}

.bgTrans .accordion-button {
  background-color: transparent !important;
  color: white !important;
}

.bgTrans .accordion-button:after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.bgTrans .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* AQUI soh a logo */

@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');

.superTrunfo {
    font-family: 'Reem Kufi', sans-serif;
}

.osPoliticos {
    font-family: 'DM Serif Display', serif;
    letter-spacing: 6px;
}

.message {
    font-family: 'DM Serif Display', serif;
	color: white;
	text-align: right;
	font-size: 1.5rem;
}

.half-color {
	position:relative;
	font-size:40px;
	display:inline-block;
 	color:white;
    
}

.half-color:before{
	content: attr(attribute);
	color:#303030;
	position:absolute;
	top:0;
	left:0;
	height:57%;
	overflow:hidden;
  text-shadow: 0px 0px 3px white;
}

.half-color2 {
	position:relative;
	font-size:40px;
	display:inline-block;
 	color:#303030;
    text-shadow: 0px 0px 3px white;
}

.half-color2:before{
	content: attr(attribute);
	color:white;
	position:absolute;
	bottom:25%;
	left:0;
	height:50%;
	overflow:hidden;
}

.half-color3 {
	padding:0px;
	position:relative;
	font-size:40px;
	display:inline-block;
 	color:white;
 	z-index:1;
}

.half-color3:after{
	content: attr(attribute);
	color:#303030;
  text-shadow: 0px 0px 3px white;
	position:absolute;
	top:0;
	left:0;
	width:72%;
	overflow:hidden;
	z-index:2;
}

.half-color3:before{
	content: attr(attribute);
	color:#303030;
	position:absolute;
	top:0;
	left:0;
	width:30%;
	overflow:hidden;
	z-index:3;
}

.half-color4 {
	padding:0px;
	position:relative;
	font-size:40px;
	display:inline-block;
 	color:#d9d9d9;
 	z-index:1;
}

.half-color4:after{
	content: attr(attribute);
	color:#303030;
  text-shadow: 0px 0px 3px white;
	position:absolute;
	top:0;
	left:0;
	/*width:70%;*/
	overflow:hidden;
	z-index:2;
}

.half-color4:before{
	content: attr(attribute);
	color:white;
	position:absolute;
	top:0;
	left:0;
	width:40%;
	overflow:hidden;
	z-index:3;
}

/* --- */

path:visited {
	fill: #FFFFFF;
}

a path{
	cursor: pointer;
	transition: all .1s ease-out;
}

a:hover path {
	fill: #f40ef0;
}

a-active path,
a:active path {
	fill: green;
}

a:before path {
	fill: green;
}

a-active:before path,
a:active:before path {
	fill: green;
}

a:checked path {
	fill: green;
}

a:target path {
	fill: green;
}

path:target {
	fill: green;
}

path:focus {
	fill: orange;
	outline: none;
}

path:country {
	fill: yellow;
}

/*---*/

.slide-rotate-hor-b-bck {
	-webkit-animation: slide-rotate-hor-b-bck 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) reverse both;
	        animation: slide-rotate-hor-b-bck 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) reverse both;
}

@-webkit-keyframes slide-rotate-hor-b-bck {
	0% {
	  -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
			  transform: translateY(0) translateZ(0) rotateX(0deg);
	  -webkit-transform-origin: bottom center;
			  transform-origin: bottom center;
	}
	100% {
	  -webkit-transform: translateY(150px) translateZ(-230px) rotateX(90deg);
			  transform: translateY(150px) translateZ(-230px) rotateX(90deg);
	  -webkit-transform-origin: bottom center;
			  transform-origin: bottom center;
	}
  }
  @keyframes slide-rotate-hor-b-bck {
	0% {
	  -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
			  transform: translateY(0) translateZ(0) rotateX(0deg);
	  -webkit-transform-origin: bottom center;
			  transform-origin: bottom center;
	}
	100% {
	  -webkit-transform: translateY(150px) translateZ(-230px) rotateX(90deg);
			  transform: translateY(150px) translateZ(-230px) rotateX(90deg);
	  -webkit-transform-origin: bottom center;
			  transform-origin: bottom center;
	}
  }
  
.flip-scale-up-hor {
	-webkit-animation: flip-scale-up-hor 0.5s linear both;
	        animation: flip-scale-up-hor 0.5s linear both;
}

@-webkit-keyframes flip-scale-up-hor {
	0% {
	  -webkit-transform: scale(1) rotateX(0);
			  transform: scale(1) rotateX(0);
	}
	50% {
	  -webkit-transform: scale(2.5) rotateX(-90deg);
			  transform: scale(2.5) rotateX(-90deg);
	}
	100% {
	  -webkit-transform: scale(1) rotateX(-180deg);
			  transform: scale(1) rotateX(-180deg);
	}
  }
  @keyframes flip-scale-up-hor {
	0% {
	  -webkit-transform: scale(1) rotateX(0);
			  transform: scale(1) rotateX(0);
	}
	50% {
	  -webkit-transform: scale(2.5) rotateX(-90deg);
			  transform: scale(2.5) rotateX(-90deg);
	}
	100% {
	  -webkit-transform: scale(1) rotateX(-180deg);
			  transform: scale(1) rotateX(-180deg);
	}
  }
  
  .slide-rotate-hor-b-fwd {
	-webkit-animation: slide-rotate-hor-b-fwd 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s alternate-reverse both;
	        animation: slide-rotate-hor-b-fwd 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s alternate-reverse both;
}

@-webkit-keyframes slide-rotate-hor-b-fwd {
	0% {
	  -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
			  transform: translateY(0) translateZ(0) rotateX(0deg);
	  -webkit-transform-origin: top center;
			  transform-origin: top center;
	}
	100% {
	  -webkit-transform: translateY(150px) translateZ(130px) rotateX(90deg);
			  transform: translateY(150px) translateZ(130px) rotateX(90deg);
	  -webkit-transform-origin: top center;
			  transform-origin: top center;
	}
  }
  @keyframes slide-rotate-hor-b-fwd {
	0% {
	  -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
			  transform: translateY(0) translateZ(0) rotateX(0deg);
	  -webkit-transform-origin: top center;
			  transform-origin: top center;
	}
	100% {
	  -webkit-transform: translateY(150px) translateZ(130px) rotateX(90deg);
			  transform: translateY(150px) translateZ(130px) rotateX(90deg);
	  -webkit-transform-origin: top center;
			  transform-origin: top center;
	}
  }
  
  /*---*/

  .jello-horizontal:hover {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
	0% {
	  -webkit-transform: scale3d(1, 1, 1);
			  transform: scale3d(1, 1, 1);
	}
	30% {
	  -webkit-transform: scale3d(1.25, 0.75, 1);
			  transform: scale3d(1.25, 0.75, 1);
	}
	40% {
	  -webkit-transform: scale3d(0.75, 1.25, 1);
			  transform: scale3d(0.75, 1.25, 1);
	}
	50% {
	  -webkit-transform: scale3d(1.15, 0.85, 1);
			  transform: scale3d(1.15, 0.85, 1);
	}
	65% {
	  -webkit-transform: scale3d(0.95, 1.05, 1);
			  transform: scale3d(0.95, 1.05, 1);
	}
	75% {
	  -webkit-transform: scale3d(1.05, 0.95, 1);
			  transform: scale3d(1.05, 0.95, 1);
	}
	100% {
	  -webkit-transform: scale3d(1, 1, 1);
			  transform: scale3d(1, 1, 1);
	}
  }
  @keyframes jello-horizontal {
	0% {
	  -webkit-transform: scale3d(1, 1, 1);
			  transform: scale3d(1, 1, 1);
	}
	30% {
	  -webkit-transform: scale3d(1.25, 0.75, 1);
			  transform: scale3d(1.25, 0.75, 1);
	}
	40% {
	  -webkit-transform: scale3d(0.75, 1.25, 1);
			  transform: scale3d(0.75, 1.25, 1);
	}
	50% {
	  -webkit-transform: scale3d(1.15, 0.85, 1);
			  transform: scale3d(1.15, 0.85, 1);
	}
	65% {
	  -webkit-transform: scale3d(0.95, 1.05, 1);
			  transform: scale3d(0.95, 1.05, 1);
	}
	75% {
	  -webkit-transform: scale3d(1.05, 0.95, 1);
			  transform: scale3d(1.05, 0.95, 1);
	}
	100% {
	  -webkit-transform: scale3d(1, 1, 1);
			  transform: scale3d(1, 1, 1);
	}
  }
  
  .slide-in-elliptic-right-bck {
	-webkit-animation: slide-in-elliptic-right-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-right-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-elliptic-right-bck {
	0% {
	  -webkit-transform: translateX(800px) rotateY(30deg) scale(6.5);
			  transform: translateX(800px) rotateY(30deg) scale(6.5);
	  -webkit-transform-origin: -100% 50%;
			  transform-origin: -100% 50%;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0) rotateY(0) scale(1);
			  transform: translateX(0) rotateY(0) scale(1);
	  -webkit-transform-origin: 600px 50%;
			  transform-origin: 600px 50%;
	  opacity: 1;
	}
  }
  @keyframes slide-in-elliptic-right-bck {
	0% {
	  -webkit-transform: translateX(800px) rotateY(30deg) scale(6.5);
			  transform: translateX(800px) rotateY(30deg) scale(6.5);
	  -webkit-transform-origin: -100% 50%;
			  transform-origin: -100% 50%;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0) rotateY(0) scale(1);
			  transform: translateX(0) rotateY(0) scale(1);
	  -webkit-transform-origin: 600px 50%;
			  transform-origin: 600px 50%;
	  opacity: 1;
	}
  }

  /*---*/

  .accordionHeader button {
	padding: 3px 10px 3px 20px;
	background-color: lightgray;
  }